festival.dtd

<!ELEMENT festival (nombre, ciudad, fecha, horario, lugar, imagen,  descripcion, actividades, contacto)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT ciudad (#PCDATA)>
<!ELEMENT fecha (#PCDATA)>
<!ELEMENT horario (#PCDATA)>
<!ELEMENT lugar (#PCDATA)>
<!ELEMENT imagen (#PCDATA)>
<!ELEMENT descripcion (#PCDATA)>
<!ELEMENT actividades (actividad+)>
<!ELEMENT actividad (titulo, descripcion, sala, hora, precio, imagen, icono)>
<!ATTLIST actividad id ID #REQUIRED>
<!ATTLIST actividad tipo (robotica | videojuegos | ia | realidad_virtual | programacion) #REQUIRED>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT sala (#PCDATA)>
<!ELEMENT hora (#PCDATA)>
<!ELEMENT precio (#PCDATA)>
<!ELEMENT icono (#PCDATA)>
<!ELEMENT contacto (telefono, whatsapp, email)>
<!ELEMENT telefono (#PCDATA)>
<!ELEMENT whatsapp (#PCDATA)>
<!ELEMENT email (#PCDATA)>
