web/festival.dtd

<!ELEMENT festival (nombre, ciudad, fecha, horario, lugar, map, descripcion, actividades, contacto)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT ciudad (#PCDATA)>
<!ELEMENT fecha (#PCDATA)>
<!ELEMENT horario (#PCDATA)>
<!ELEMENT lugar (#PCDATA)>
<!ELEMENT map (#PCDATA)>
<!ELEMENT descripcion (#PCDATA)>
<!ELEMENT actividades (actividad+)>
<!ELEMENT actividad (titulo, descripcion, sala, itinerario, precio, imagen, icono)>
<!ATTLIST actividad id ID #REQUIRED>
<!ATTLIST actividad tipo (robotica | videojuegos | IA | VR | programacion) #REQUIRED>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT sala (#PCDATA)>
<!ELEMENT itinerario (#PCDATA)>
<!ELEMENT precio (#PCDATA)>
<!ELEMENT imagen (#PCDATA)>
<!ELEMENT icono (#PCDATA)>
<!ELEMENT contacto (telefono, whatsapp, email)>
<!ELEMENT telefono (#PCDATA)>
<!ELEMENT whatsapp (#PCDATA)>
<!ELEMENT email (#PCDATA)>
